{%load static %}
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Dimension - About US</title>
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">     
    <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>      
  </head>
  
  <body class="size-1140">
  	<!-- PREMIUM FEATURES BUTTON -->
  	
    <!-- HEADER -->
    <header role="banner" class="position-absolute">    
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="index.html" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" src="{% static 'img/logo-dark1.png' %}" alt="">
            <!-- Logo Dark Version -->
            <img class="logo-dark" src="{% static 'img/logo-dark1.png' %}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
               <li><a href="/">Home</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="we">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="apply">Tutorials</a></li>
            <li><a href="social">Social Link</a></li>
            
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-dark">
          <div class="line">        
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">About Us</h1>
            <p class="margin-bottom-0 text-size-16">Life is not about finding yourself. Life is about creating yourself..<br>
            Life is just a journey.</p>
          </div>  
        </header>
        <div class="section background-white"> 
          <div class="line">  
            <h2 class="text-size-40 margin-bottom-30">Our Target </h2>
            <hr class="break-small background-primary margin-bottom-30">
            <p>
            It's a simple company . Our main target to develop our people in the IT sector. As we are focussing on web design, web development,programming, and designing. Our country can't get the improvement in these sectors.So we are working for these.
            </p> 
            <blockquote class="margin-top-bottom-20">
              <h3 class="text-size-20 text-line-height-1 margin-bottom-15">Working Theme</h3>
             In this web site we will teach programing from basic. The designing tutorial will appear on this site. Without these need any type of information of IT sector-related send message on our Facebook page. We will try to help you.
            </blockquote>
            
            <div class="line margin-top-30">
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <img src="{% static 'img/img-01.jpg' %}" alt="">
                  <p class="margin-top-30">
                  <h2>JAVA:</h2>Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few implementation dependencies as possible.
                  <h2>JAVA SCRIPT:</h2>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.
                  <h2>C-PROGRAME:</h2>C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, with a static type system. By design, C provides constructs that map efficiently to typical machine instructions.
                  <h2>HTML:</h2>Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.

                  </p>
                </div>
                <div class="s-12 m-6 l-6">
                  <img src="{% static 'img/img-02.jpg' %}" alt="">
                  <p class="margin-top-30">
                 <h2>PYTHON:</h2>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.
                 <h2>DJANGO:</h2>Django is a Python-based free and open-source web framework that follows the model-template-view architectural pattern. It is maintained by the Django Software Foundation, an American independent organization established as a 501 non-profit.
                 <h2>C++:</h2>C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming language, or "C with Classes.
                 <h2>CSS:</h2>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
                  </p>
                </div>
              </div>
            </div>      
          </div>
        </div> 
      </article>
    </main>
    
    <!-- FOOTER -->
    <footer>
      <!-- Contact Us -->
      <div class="background-primary padding text-center">
        <p class="h1">Contact Us: </p>                                                                        
      </div>
      
      <!-- Main Footer -->
      <section class="background-dark full-width">
        <!-- Map -->
        <div class="s-12 m-12 l-6 margin-m-bottom-2x">
          <div class="s-12 grayscale center">  	  
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1459734.5702753505!2d16.91089086619977!3d48.577103681657675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1457640551761" width="100%" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        
        <!-- Collumn 2 -->
        <div class="s-12 m-12 l-6 margin-m-bottom-2x">
          <div class="padding-2x">
            <div class="line">              
              <div class="float-left">
                  <i class="icon-sli-location-pin text-primary icon3x"></i>
                </div>
                <div class="margin-left-70 margin-bottom-30">
                  <h3 class="margin-bottom-0">Company Address</h3>
                 <p>Maijdee<br>
                    Noakhali/ Chittagong / Bangladesh
                  </p>                
                </div>
                <div class="float-left">
                  <i class="icon-sli-envelope text-primary icon3x"></i>
                </div>
                <div class="margin-left-70 margin-bottom-30">
                  <h3 class="margin-bottom-0">E-mail</h3>
                   <p>dimensionnext5@gmail.com<br>
                     arafatsss98@gmail.com
                  </p>           
                </div>
                <div class="float-left">
                  <i class="icon-sli-phone text-primary icon3x"></i>
                </div>
                <div class="margin-left-70">
                  <h3 class="margin-bottom-0">Phone Numbers</h3>
                  <p>8801630936627<br>
                     8801628057202<br>
                     8801725616381
                  </p>             
                </div>
            </div>
          </div>
        </div>  
      </section>
      <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
      
      <!-- Bottom Footer -->
       <section class="padding background-dark full-width">
        <div class="s-12 l-6">
          <p class="text-size-12">Copyright 2020, Vision Design - graphic zoo</p>
          <p class="text-size-12">All images have been purchased from Next Dimension. Do not use the images in your website.</p>
        </div>
        <div class="s-12 l-6">
          <a class="right text-size-12" href="https://www.facebook.com/jubayer.7arafat" title="Responsee - lightweight responsive framework">Design and coding<br> by Jubayer Arafat</a>
        </div>
      </section>
    </footer>
    <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script>
  </body>
</html>