{% load static%}
<html>
    <head>
        <title>Social link</title>
        <link rel="stylesheet" type="text/css"href="{% static 'style1.css' %}">
          <link href="https//fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <a href="https://www.facebook.com/next423">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Facebook
        </a>
        <a href="https://www.instagram.com/jubayer.arafat/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Instragram
        </a>
          <a href="https://www.youtube.com/channel/UCXgvLZszrmgNBy71GL5FNng?view_as=subscriber">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Youtube
        </a>
    </body>
</html>
