{% load static %}

<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Dimension - Gallery</title>
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">     
    <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>  
    <div id="fb-root"></div>
   
  </head>
  
  <body class="size-1140">
  	<!-- PREMIUM FEATURES BUTTON -->
  
    <!-- HEADER -->
    <header role="banner" class="position-absolute">    
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" src="{% static 'img/logo-dark1.png' %}" alt="">
            <!-- Logo Dark Version -->
            <img class="logo-dark" src="{% static 'img/logo-dark1.png' %}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
             <li><a href="/">Home</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="we">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="apply">Tutorials</a></li>
            <li><a href="social">Social Link</a></li>
            
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-dark">
          <div class="line">        
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Gallery</h1>
            <p class="margin-bottom-0 text-size-16">If you want to live a happy life, tie it to a goal, not to people or things.
              <br>
            Life always offers you a second chance. It’s called tomorrow.</p>
          </div>  
        </header>

        
        <div class="section background-white"> 
          <div class="line">
            <div class="margin">
            

              <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                  <div class="image-hover-overlay background-primary"> 
                    <div class="image-hover-overlay-content text-center padding-2x">
                      <div class="line">
                       <a class="button button-white-stroke s-12" href="https://www.facebook.com/652143898563693/videos/376240556629984">Get Started Now</a>
                      </div>
                    </div> 
                  </div> 
                  <img src="https://www.techgenyz.com/wp-content/uploads/2019/03/professional-video-editor-1.jpg" alt="" />
                </div>	
              </div>
              <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                  <div class="image-hover-overlay background-primary"> 
                    <div class="image-hover-overlay-content text-center padding-2x">
                      <div class="line">
                       <a class="button button-white-stroke s-12" href="https://www.facebook.com/652143898563693/videos/250442902740377">Get Started Now</a>
                      </div>
                    </div> 
                  </div> 
                  <img src="https://www.techgenyz.com/wp-content/uploads/2019/03/professional-video-editor-1.jpg" alt=""  />
                </div>	
              </div>
              <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                  <div class="image-hover-overlay background-primary"> 
                    <div class="image-hover-overlay-content text-center padding-2x">
                      <div class="line">
                       <a class="button button-white-stroke s-12" href="https://www.facebook.com/652143898563693/videos/717980988978849">Get Started Now</a>
                      </div> 
                    </div> 
                  </div> 
                  <img src="https://www.techgenyz.com/wp-content/uploads/2019/03/professional-video-editor-1.jpg" alt="" />
                </div>	
              </div>
              
            
               
              <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                  <div class="image-hover-overlay background-primary"> 
                    <div class="image-hover-overlay-content text-center padding-2x">
                      <div class="line">
                       <a class="button button-white-stroke s-12" href="https://www.facebook.com/652143898563693/videos/240136010389405">Get Started Now</a>
                      </div>
                    </div> 
                  </div> 
                  <img src="https://www.techgenyz.com/wp-content/uploads/2019/03/professional-video-editor-1.jpg" alt=""  />
                </div>	
              </div>
              <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                  <div class="image-hover-overlay background-primary"> 
                    <div class="image-hover-overlay-content text-center padding-2x">
                      <div class="line">
                       <a class="button button-white-stroke s-12" href="https://www.facebook.com/652143898563693/videos/2576861385916252">Get Started Now</a>
                      </div> 
                    </div> 
                  </div> 
                  <img src="https://www.techgenyz.com/wp-content/uploads/2019/03/professional-video-editor-1.jpg" alt="" />
                </div>	
              </div>
              
          <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                  <div class="image-hover-overlay background-primary"> 
                    <div class="image-hover-overlay-content text-center padding-2x">
                      <div class="line">
                       <a class="button button-white-stroke s-12" href="https://www.facebook.com/652143898563693/videos/886698885087500">Get Started Now</a>
                      </div> 
                    </div> 
                  </div> 
                  <img src="https://www.techgenyz.com/wp-content/uploads/2019/03/professional-video-editor-1.jpg" alt="" />
                </div>  
              </div>
              
              
             
            </div>  
          </div>
        </div> 
      </article>
    </main>
     <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '1.png' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '2.png' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '3.png' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '4.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '5.png' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '6.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static 'ae.png' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="{% static '8.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
    <!-- FOOTER -->
    <footer>
      <!-- Contact Us -->
      <div class="background-primary padding text-center">
        <p class="h1">Contact Us: </p>                                                                        
      </div>
      
      <!-- Main Footer -->
      <section class="background-dark full-width">
        <!-- Map -->
        <div class="s-12 m-12 l-6 margin-m-bottom-2x">
          <div class="s-12 grayscale center">  	  
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1459734.5702753505!2d16.91089086619977!3d48.577103681657675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1457640551761" width="100%" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        
        <!-- Collumn 2 -->
        <div class="s-12 m-12 l-6 margin-m-bottom-2x">
          <div class="padding-2x">
            <div class="line">              
              <div class="float-left">
                  <i class="icon-sli-location-pin text-primary icon3x"></i>
                </div>
                <div class="margin-left-70 margin-bottom-30">
                  <h3 class="margin-bottom-0">Company Address</h3>
                 <p>Maijdee<br>
                     Noakhali/ Chittagong / Bangladesh
                   </p>               
                </div>
                <div class="float-left">
                  <i class="icon-sli-envelope text-primary icon3x"></i>
                </div>
                <div class="margin-left-70 margin-bottom-30">
                  <h3 class="margin-bottom-0">E-mail</h3>
                  <p>dimensionnext5@gmail.com<br>
                     arafatsss98@gmail.com
                  </p>              
                </div>
                <div class="float-left">
                  <i class="icon-sli-phone text-primary icon3x"></i>
                </div>
                <div class="margin-left-70">
                  <h3 class="margin-bottom-0">Phone Numbers</h3>
                  <p>8801630936627<br>
                     8801628057202<br>
                     8801725616381
                  </p>             
                </div>
            </div>
          </div>
        </div>  
      </section>
      <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
      
      <!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="s-12 l-6">
          <p class="text-size-12">Copyright 2020, Vision Design - graphic zoo</p>
          <p class="text-size-12">All images have been purchased from Next Dimension. Do not use the images in your website.</p>
        </div>
        <div class="s-12 l-6">
          <a class="right text-size-12" href="https://www.facebook.com/jubayer.7arafat" title="Responsee - lightweight responsive framework">Design and coding<br> by Jubayer Arafat</a>
        </div>
      </section>
    </footer>
    <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script>
  </body>
</html>