{% load static %}

<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Dimension - Services</title>
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">     
    <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>      
  </head>
  
  <body class="size-1140">
  	
    <!-- HEADER -->
    <header role="banner" class="position-absolute">    
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" src="{% static 'img/logo-dark1.png' %}" alt="">
            <!-- Logo Dark Version -->
            <img class="logo-dark" src="{% static 'img/logo-dark1.png' %}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
              <li><a href="/">Home</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="we">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="apply">Tutorials</a></li>
            <li><a href="social">Social Link</a></li>
            
            >
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-dark">
          <div class="line">        
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Our Services</h1>
            <p class="margin-bottom-0 text-size-16">We teach programming,video ediding, designing,web design and web develop.
              <br>
            You can also buy these services.</p>
          </div>  
        </header>
        <section class="section background-white">
          <div class="line">
            <h2 class="text-size-40 margin-bottom-30">The Services We Provide</h2>
            <hr class="break-small background-primary margin-bottom-30">
            <p class="margin-bottom-40">
             
            </p>
          </div>   
          <div class="line text-center">
            <div class="margin">
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x background-primary">
                  <i class="fas fa-user-secret"></i>
                  <h2 class="text-thin">Learn Programe</h2>
                  <p class="margin-bottom-30">You can learn programming language here.We are providing this in bangla.
                    Languages:python,java,c,c++,django,html,<br>css,javascript</br></p>
                  
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x background-primary">
                  <i class="fab fa-affiliatetheme icon3x text-white margin-bottom-30"></i>
                
                  <h2 class="text-thin">Logo Design</h2>
                  <p class="margin-bottom-30">You can learn logo designing here.We are providing this in bangla.
                    Adobe Illustrator full basic use</p>
               
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x background-primary">
                  <i class="fab fa-adobe"> </i>
                  <h2 class="text-thin">Video Editing</h2>
                  <p class="margin-bottom-30">You can learn video editing here.We are providing this in bangla.
                    Softawer:Adobe premiere pro,Adobe after effects and Filmora go</p>
                  
                </div>
              </div>
            </div>
          </div>
        </section> 
      </article>
    </main>
    
    <!-- FOOTER -->
    <footer>
      <!-- Contact Us -->
      <div class="background-primary padding text-center">
        <p class="h1">Contact Us: </p>                                                                        
      </div>
      
      <!-- Main Footer -->
      <section class="background-dark full-width">
        <!-- Map -->
        <div class="s-12 m-12 l-6 margin-m-bottom-2x">
          <div class="s-12 grayscale center">  	  
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1459734.5702753505!2d16.91089086619977!3d48.577103681657675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1457640551761" width="100%" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        
        <!-- Collumn 2 -->
        <div class="s-12 m-12 l-6 margin-m-bottom-2x">
          <div class="padding-2x">
            <div class="line">              
              <div class="float-left">
                  <i class="icon-sli-location-pin text-primary icon3x"></i>
                </div>
                <div class="margin-left-70 margin-bottom-30">
                  <h3 class="margin-bottom-0">Company Address</h3>
                  <p>Maijdee<br>
                     Noakhali/ Chittagong / Bangladesh
                   </p>
                </div>
                <div class="float-left">
                  <i class="icon-sli-envelope text-primary icon3x"></i>
                </div>
                <div class="margin-left-70 margin-bottom-30">
                  <h3 class="margin-bottom-0">E-mail</h3>
                  <p>dimensionnext5@gmail.com<br>
                     arafatsss98@gmail.com
                  </p>              
                </div>
                <div class="float-left">
                  <i class="icon-sli-phone text-primary icon3x"></i>
                </div>
                <div class="margin-left-70">
                  <h3 class="margin-bottom-0">Phone Numbers</h3>
                  <p>8801630936627<br>
                     8801628057202<br>
                     8801725616381
                  </p>             
                </div>
            </div>
          </div>
        </div>  
      </section>
      <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
      
      <!-- Bottom Footer -->
       <section class="padding background-dark full-width">
        <div class="s-12 l-6">
          <p class="text-size-12">Copyright 2020, Vision Design - graphic zoo</p>
          <p class="text-size-12">All images have been purchased from Next Dimension. Do not use the images in your website.</p>
        </div>
        <div class="s-12 l-6">
          <a class="right text-size-12" href="https://www.facebook.com/jubayer.7arafat" title="Responsee - lightweight responsive framework">Design and coding<br> by Jubayer Arafat</a>
        </div>
      </section>
    </footer>
    <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script>
  </body>
</html>